@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
/* resets css page so that there is no empty space */
* {
    font-family: "Lato", sans-serif;
    margin:0;
    padding:0;
  }
  
  body {
    margin: auto;
    overflow-x: hidden;
    text-align: center;
    background-color: #212f3d;
  }

  p {
    padding: 10px;
  }
  
.header-container{
    font-size: 40px;
    margin-top: 0;
    line-height: 2;
    color: #808b96;
  }
  
  h2 {

    color: #808b96;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .message {
    line-height: 2;
    padding-bottom: 20px;
    font-size: 19px;
  }
  
  .section-img {
    width: 50%;
    height: 30%;
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.2),
      4px 6px 20px 4px rgba(0, 0, 0, 0.19);
    /* The transform property applies a 2D or 3D transformation to an element. This property allows you to rotate, scale, move, skew, etc., elements. */
    /* The term 'webkit' is used in the CSS syntax for rendering content in Safari and Chrome browsers. Webkit code may need to be added in CSS to ensure it renders correctly on Chrome and Safari due to the lack of cross-compatibility. */
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .section-img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  /*content cards*/
  
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid #403e3eb3;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 2px 2px 4px #908e8eb3;
    border-radius: 15px;
    background-color: #d6dbdf;
  }
  
.bottom-container {
  padding-bottom: 50px;
}

  .btn {
    background-color: #808b96;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #d6dbdf;
    text-decoration: none;
  }



/* NAV BAR */
nav{
  width: 100vw;
  height: auto;
}


.links{
  background-color: #808b96;
  padding: 2vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 6vh;
}

nav li{
  display: inline-block;
  margin: auto;
  text-align: right;
  font-size: 1.3vw;
}

nav a{
  padding: 1.25vw 2vw;
  text-decoration: none;
  color: black;
}

nav a:hover{
  background-color: white;
  border-radius: 30px;
}

nav .active{
  color: black;
  background-color: white;
  border-radius: 30px;
}

/* FOOTER */
.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808b96;
  line-height: 10vh;
  display:flex;
  justify-content: space-around;
}

.footer a {
  color: black;
  text-decoration: none;
}


@media screen and (max-width: 600px) {
  nav a {
      padding: .75vw .75vw;
      font-size: 20px;
  }
  .links {
      flex-direction: column;
      align-content: space-between;
      height: 35vh;


   }

   nav li {
      font-size: 2.6vw;
   }
  }
