*{
    margin: 0;
    padding: 0;
}

/* NAV BAR */
nav{
    width: auto;
}

.wname{
    font-size: larger;
    margin: 0 20px 0 0;
    padding-left: 10px;
    pointer-events: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-;
    color: #DCD7C9;
}
nav ul{
    background-color: wheat;
    padding: 30px 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li{
    display: inline-block;
    margin: 0;
    text-align: right;
}

nav a{
    padding: 15px 80px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    background-color: white;
    padding: 15px 80px;
    border-radius: 30px;
}

nav .active{
    color: black;
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 15px 80px;
}

/* FOOTER */
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: wheat;
    text-align: center;
}

footer a{
    text-align: center;
    padding-bottom: 5px;
    font-size: xx-large;
    color: inherit;
    line-height: 38px;
    display: inline-block;
    margin: 50px;
}

footer :hover{
    color: white;
}